sudo: false
language: java
jdk:
  - openjdk8
cache:
  directories:
  - "$HOME/.cache"
  
jobs:
  include:
    - stage: test and report to Xray
      script:
        - |
            echo "building repo..."
            mvn clean compile test --file pom.xml
            curl -H "Content-Type: multipart/form-data" -X POST -u admin:admin -F "file=target/surefire-reports/TEST-com.xpand.java.CalcTest.xml" "https://083f-82-155-174-79.ngrok.io/rest/raven/2.0/import/execution/junit?projectKey=$PROJECTKEY_SERVER&testPlanKey=$TESTPLAN_SERVER"
            echo "done"
